.bsp/

.idea
.idea/*
.idea/**/*

project/*.iml
project/*.iml
project/*.ipr
project/*.iws
project/*/*.iml
project/*/.DS_Store
project/*/bin
project/*/build
project/*/target
project/.DS_Store
project/.idea
project/.idea/*
project/boot
project/out
project/target

target